.heroes li{
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    padding: 4px;
    background: #ececec;
    margin-bottom: 5px;
    cursor: pointer;
    list-style: none;
}

.heroes li.selected{
    background: #7e789c;
    color: #fff;
}